*.png filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
src/assets/files/*.pdf filter=lfs diff=lfs merge=lfs -text
src/assets/videos/*.mp4 filter=lfs diff=lfs merge=lfs -text
src/assets/images/**/*.png filter=lfs diff=lfs merge=lfs -text
src/assets/portal-web/*.data filter=lfs diff=lfs merge=lfs -text
src/assets/portal-web/*.wasm filter=lfs diff=lfs merge=lfs -text
