.gradient-text {
  color: transparent;
  background-image: var(--gradient-conic);
  padding: 0.6rem 0;
  background-size: 50%;
  background-clip: text;
}

.gradient-text-scream {
  color: transparent;
  background-image: conic-gradient(
    var(--color-secondary-scream) 0 28%,
    var(--color-tertiary-scream) 0 67%,
    var(--color-primary-scream) 0 100%
  );
  padding: 0.6rem 0;
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
}

.gradient-text-golf {
  color: transparent;
  background-image: conic-gradient(
    var(--color-secondary-golf) 0 28%,
    var(--color-tertiary-golf) 0 67%,
    var(--color-primary-golf) 0 100%
  );
  padding: 0.6rem 0;
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
}

.gradient-text-linear {
  color: transparent;
  background-image: var(--gradient-rainbow);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
}
