---
layout: base
permalink: /index.html
title: 'Meet Jeremy Pogue!'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
---

{% import "macros.njk" as macros %}

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region text-center">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
      <div class="wrapper">
        <div class="grid | gap-s" style="grid-template-columns: repeat(3, minmax(0, 1fr)); max-width: 900px; margin-inline: auto;">
          <img src="/assets/images/scavenger.jpeg" alt="An embedded systems device that implements an interactive adventure journal." style="width: 100%; height: auto; border-radius: 0.5rem;">
          <img src="/assets/images/soldering-iron.jpeg" alt="Jeremy holding a soldering iron in front of an interactive mini-golf course." style="width: 100%; height: auto; border-radius: 0.5rem;">
          <img src="/assets/images/crossy-road.jpg" alt="Photo 3" style="width: 100%; height: auto; border-radius: 0.5rem;">
        </div>
      </div>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper">
      <div>
        <div class="flow" style="flex: 1 1 300px; min-width: 250px;">
          <img src="/assets/images/jeremy-portrait.jpg" alt="Description" style="float: right; width: 350px; height: auto; margin-left: 1.5rem; margin-bottom: 0.5rem;">
          <h2 id="an-eleventy-starter">Curious. Inventive. Authentic.</h2>
          <p>
            Hi, there! I’m <strong>Jeremy Pogue</strong>, a <strong>Computer Engineering</strong> Master’s student at the <span class="font-bold">{{ macros.altColor("University of Southern California", "text-cardinal", "text-gold-dark") }}</span>.
          </p>
          <p>
            I’m a <strong>purpose-driven</strong> engineer passionate about creating multidisciplinary solutions to complex challenges. Through personal projects and coursework, I have extensive experience in <strong>embedded systems, software development, and project management</strong>. I’m also the founder and two-year president of <span class="font-bold text-orange">Scream USC</span>, the leading USC student organization for amusement park engineers and enthusiasts. 
          </p>
          <p>
            My academic foundation spans a broad spectrum of disciplines:
          </p>
          <ul class="list-disc list-inside leading-relaxed">
            <li><strong>Hardware & Systems:</strong> Digital Logic Design, VLSI, Computer Architecture, Distributed Systems</li>
            <li><strong>Software & Data:</strong> Algorithms, Machine Learning, Networking, Operating Systems, Graphics, Data Analytics</li>
            <li><strong>Creative & Design:</strong> Game Design, Special Effects, Narrative Design, Themed Entertainment</li>
            <li><strong>Communication:</strong> Technical Writing</li>
          </ul>
          <p>
            Moving forward, I’m driven to build technology that improves life: not just making it easier, but more meaningful and connected.
          </p>
        </div>

        <!-- Image wraps to the right when there's space -->

      </div>
    </div>
  </article>


</div>
