---
layout: base
permalink: /index.html
title: 'Jeremy Pogue'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
---

{% import "macros.njk" as macros %}

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region text-center">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
      <div class="wrapper">
        <div class="grid | gap-s" style="grid-template-columns: repeat(3, minmax(0, 1fr)); margin-inline: auto;">
          <img src="/assets/images/projects/scavenger/scavenger.jpeg" alt="An embedded systems device that implements an interactive adventure journal." style="width: 100%; height: auto; border-radius: 0.5rem;">
          <img src="/assets/images/jeremy-stardust.jpeg" alt="Jeremy Pogue holding a soldering iron in front of an interactive mini-golf course." style="width: 100%; height: auto; border-radius: 0.5rem;">
          <img src="/assets/images/projects/musical-steps/musical-steps.jpg" alt="An interactive embedded system mini golf hole" style="width: 100%; height: auto; border-radius: 0.5rem;">
        </div>
      </div>
    </div>
    <div class="divider-wrapper" style="position: relative;">
      {% svg "divider/coaster", null, "divider" %}
    </div>
  </header>

  <article class="full">
    <div class="wrapper">
      <div>
        <div class="flow" style="flex: 1 1 300px; min-width: 250px;">
          <img src="/assets/images/projects/musical-steps/soldering-iron-full.jpeg" alt="Jeremy Pogue's headshot" style="float: right; width: 350px; height: auto; margin-left: 1.5rem; margin-bottom: 0.5rem; border-radius: 0.5rem;">
          <h2 id="an-eleventy-starter">Curious. Inventive. Authentic.</h2>
          <p>
            Hi, there! I’m Jeremy Pogue, an Electrical Engineering Master’s student at the <a href="https://viterbischool.usc.edu/news/2025/05/he-rode-103-roller-coasters-now-hes-building-the-next-one/" class="underline group">
  {{ macros.altColor("University of Southern California", "text-gray group-hover:text-gold", "text-gray group-hover:text-cardinal") }}</a>.
          </p>
          <p>
            <strong>I've always been drawn to the pursuit of understanding.</strong>
          </p>
          <p>
            I adore engineering because <strong>it offers frameworks for explaining and improving the world</strong>: models, theories, and architectures that help us reason about increasingly complex problems. 
            At the same time, engineering is a discipline of implementation, where ideas only become meaningful when they are tested against reality. That <strong>tension between understanding and application</strong> 
            is what continues to draw me to engineering.
          </p>
          <p>
            This perspective has shaped much of my academic and professional journey. My interests have taken me from <strong>embedded systems and control theory to interactive design and 
            themed entertainment</strong>. While the processes and applications differ, I find myself returning to the same challenge: understanding how systems work, then applying that 
            understanding <strong>to create something that moves the discipline forward</strong>.
          </p>
        </div>

        <!-- Image wraps to the right when there's space -->

      </div>
    </div>
  </article>


</div>
