---
layout: base
permalink: /index.html
title: 'Meet Jeremy Pogue!'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
---

{% import "macros.njk" as macros %}

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region text-center">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
      <div class="wrapper">
        <div class="grid | gap-s" style="grid-template-columns: repeat(3, minmax(0, 1fr)); margin-inline: auto;">
          <img src="/assets/images/projects/scavenger/scavenger.jpeg" alt="An embedded systems device that implements an interactive adventure journal." style="width: 100%; height: auto; border-radius: 0.5rem;">
          <img src="/assets/images/jeremy-stardust.jpeg" alt="Jeremy Pogue holding a soldering iron in front of an interactive mini-golf course." style="width: 100%; height: auto; border-radius: 0.5rem;">
          <img src="/assets/images/projects/musical-steps/musical-steps.jpg" alt="An interactive embedded system mini golf hole" style="width: 100%; height: auto; border-radius: 0.5rem;">
        </div>
      </div>
    </div>
    <div class="divider-wrapper" style="position: relative;">
      {% svg "divider/coaster", null, "divider" %}
    </div>
  </header>

  <article class="full">
    <div class="wrapper">
      <div>
        <div class="flow" style="flex: 1 1 300px; min-width: 250px;">
          <img src="/assets/images/projects/musical-steps/soldering-iron-full.jpeg" alt="Jeremy Pogue's headshot" style="float: right; width: 350px; height: auto; margin-left: 1.5rem; margin-bottom: 0.5rem; border-radius: 0.5rem;">
          <h2 id="an-eleventy-starter">Curious. Inventive. Authentic.</h2>
          <p>
            Hi, there! I’m <strong>Jeremy Pogue</strong>, an <strong>Electrical Engineering</strong> Master’s student at the <a href="https://viterbischool.usc.edu/news/2025/05/he-rode-103-roller-coasters-now-hes-building-the-next-one/" class="font-bold underline group">
  {{ macros.altColor("University of Southern California", "text-gray group-hover:text-gold", "text-gray group-hover:text-cardinal") }}</a>.
          </p>
          <p>
            I’m a <strong>purpose-driven</strong> engineer focused on building reliable, real-world systems at the intersection of 
            <strong>hardware, embedded software, and controls</strong>. Through coursework and hands-on projects, 
            I've developed strong experience in <strong>designing, integrating, and testing</strong> hardware-software systems. 
            I have prior internship experience at <strong class="company company-universal">Universal Creative</strong>, <strong class="company company-lockheed">Lockheed Martin</strong>, and
<strong class="company company-capital-one">Capital One</strong>, and I’m also the founder and former two-year president of <a href="https://www.linkedin.com/company/scream-usc" class="underline group">
  <span class="font-bold text-gray group-hover:text-orange transition-colors duration-200">Scream USC</span></a>, USC's premier student organization for themed entertainment engineering. 
          </p>
          <p>
            My academic foundation spans multiple layers of design:
          </p>
          <ul class="list-disc list-inside leading-relaxed">
            <li><strong>Hardware & Systems:</strong> Embedded & Distributed Systems, Digital Logic Design, VLSI, Computer Architecture</li>
            <li><strong>Software & Data:</strong> Algorithms, Machine Learning, Networking, Operating Systems, Graphics, Data Analytics</li>
            <li><strong>Creative & Design:</strong> Themed Entertainment, Game Design, Special Effects, Narrative Design</li>
            <li><strong>Communication:</strong> Technical Writing</li>
          </ul>
          <p>
            Moving forward, I’m driven to build technology that improves life: not just making it easier, but meaningfully improving how people interact with the world.
          </p>
        </div>

        <!-- Image wraps to the right when there's space -->

      </div>
    </div>
  </article>


</div>
